body {
    background: peachpuff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    color: blue;

}
    #vid { 
    padding: 30px;
}
p {
    font-family: verdana;
    font-size: 20px;
}
